<!-- <div>
    <div class="p-4 bg-secondary text-white text-center">
        <p>Welcome</p>
</div> -->
<div class="container-fluid text-bg-dark">
    <div class="row">
        <div class="d-flex col-8 pt-3 px-5 justify-content-start">
            <p>To Do</p>
        </div>
        <div class="d-flex p-1 col-4 justify-content-end">
            <!-- <p class="px-2">Profile</p> 
            <p class="px-2">LogOut</p> -->
            <div class="px-2">
            <button mat-icon-button matTooltip="Profile" color="dark">
                <mat-icon>account_circle</mat-icon>
            </button>
            </div>
            <div class="px-2">
                <button mat-icon-button matTooltip="LogOut" color="dark">
                    <mat-icon>logout</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
